<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Welcome to Hospital System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body style="background-image: url('https://cdn.vectorstock.com/i/1000x1000/53/00/blue-medical-background-with-text-space-vector-25875300.webp');background-repeat:no-repeat;background-size:cover">
<div>
<!--    &lt;!&ndash; APP LOGO &ndash;&gt;-->
<!--    <img th:src="${imageUrl}" alt="Logo" title="Logo" style="width: 144px;">-->
</div>
<div class = "container" style="display:flex;flex-direction:row;justify-content:center;align-items:center" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0gwfjZ7nTcYXQEYZ3Ytu3_PCH3N3VVjxJcohEQpr2e_qEtfI-rRmk&usqp=CAE&s" alt="IMG NOT AVAILABLE!">
    <h1>Mail from HMS</h1>
</div>
<div class="text" align="left" style="padding-top:10px" >
    <h3 class="bg-primary" th:text = "${username}">Dear </h3><br>
    <p th:text = "${messageBody}"></p>
    <hr size="2px" color="black">
</div>
</body>
</html>